@charset "utf-8";
/* CSS Document */

.header { height:60px; border-bottom: 1px #939393 solid;}
.header .header_warpper{width: 1000px; height: 60px; margin: 0 auto;}
.logo{width:163px; float: left;}
.header_nav{width: 435px; float: right; font-family: "Microsoft YaHei"; margin-top: 27px;}
.header_nav .nav_link li{display: block; float: left;width: 140px; text-align: center;}
.header_nav .nav_link li a{color: #939393; font-size: 20px; text-decoration: none;}
.header_nav .nav_link li a:hover{text-decoration: none; color: #f60;}
.header_search{width: 192px; float: right; margin-top: 31px;}
.header_search .input_text{height:20px; width: 135px; border: 1px #ccc solid;}
.header_search .input_btn{height:22px; border: none; background-color:#f7901e; color: #fff; }

.container{width: 1000px; margin: 0 auto;}
.container .scroller{margin: 15px 0; box-shadow:0 0 7px #ccc;}

.stay_contact{height: 203px; font-family: "Microsoft YaHei"; margin-bottom: 15px;}
.stay_contact .title{height:46px; background: url(../images/bg_stayc.gif) no-repeat;}
.stay_contact .block_contact{width: 320px; height: 150px; border: 1px #ccc solid; float: left; margin: 5px 16px 0 0;}
.stay_contact .last{margin-right: 0;}
.stay_contact .block_contact .big{font-size: 28px; display: block; margin: 5px 0 0 5px; font-weight: bold; color:#908f94; }
.stay_contact .block_contact .desc{font-size: 14px; color: #908f94; margin: 5px; display: block; text-decoration: none;}

.footer{ background: url(../images/line_footer.gif) 0 45px repeat-x #f5f5f5; font-family: "Microsoft YaHei"}
.footer .foot_warpper{width: 1000px; margin: 0 auto; height: 183px;}

.emailsub{height: 45px;}
.footer_nav {height: 105px;}
.footer_nav ul{display: block; width: 144px; height: 90px; float: left; padding-top: 5px;}
.footer_nav ul li{display: block; font-size: 15px; color: #444;}
.footer_nav ul li a{font-size: 12px; color:#999;}
.footer_nav ul li a:hover{color: #f60; text-decoration: none;}
.copyright{clear: both; text-align: center;}


/*about us*/
.aboutus{color:#414141;}
.aboutus h1{font-size:28px; clear:both;}
.aboutus h3{font-size:20px;}
.aboutus p{ font-size:14px; margin:10px 0;}

/*contact us*/
.contactus{color:#414141;}
.contactus h1{font-size:28px; clear:both;}
.contactus h3{font-size:20px;}
.contactus p{ font-size:14px; margin:10px 0;}

/*contact us*/
.catalog {color:#414141;}
.catalog h1{font-size:28px; clear:both;}
.catalog h3{font-size:20px;}
.catalog p{ font-size:14px; margin:10px 0;}

/*featured*/
.featured{margin-bottom:10px;height: 201px; background: url(../images/grid.png) no-repeat center top;}
.featured ul{padding:1px 0 0 0; display: block; height: 200px;}
.featured ul li{display: block; float: left; text-align: center; width: 242px; margin: 0 4px;}